<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaGis_IP_Blacklister.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WaGis_IP_Blacklister.Properties.Settings>
            <setting name="Logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>TCP</value>
            </setting>         
            <setting name="Direction" serializeAs="String">
                <value>BOTH</value>
            </setting>
            <setting name="Excluded_IPs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Minutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DoOnce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="List_URL" serializeAs="String">
                <value>https://lists.blocklist.de/lists/all.txt</value>
            </setting>
            <setting name="Protocol_Number" serializeAs="String">
                <value>6</value>
            </setting>
        </WaGis_IP_Blacklister.Properties.Settings>
    </userSettings>
</configuration>